:root {
  font-family: "Noto Sans KR", sans-serif;

  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #f7f6e7;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  /* font-family: "Open Sans", sans-serif; */
  cursor: default;
  height: 100%;
  width: 100%;
  /* background-color: pink; */
}

a {
  text-decoration: none;
  color: var(--color-while);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

table {
  width: 100%;
  border: 1px solid #444444;
  border-collapse: collapse;
}

th,
td {
  border: 1px, solid #444444;
  padding: 10px;
  text-align: center;
}

.person-table__header {
  background-color: #f4f9f9;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 8px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */

#navbar {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  margin: 15px;
}

.navbar__menu {
  display: flex;
  margin: 5px;
}

.navbar__menu__item {
  margin: 0 10px;
}

.section-container {
  display: flex;
}

#menu {
  background-color: var(--color-pink);
  min-width: 200px;
  min-height: 1400px;
  color: var(--color-grey);
  padding: 15px;
}

.menu-list__item {
  margin-bottom: 10px;
}

#person-list {
  min-width: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.month-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.person-control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.person-control__add,
.person-control__remove {
  width: 50%;
  background-color: var(--color-light-grey);
  margin: 5px;
  padding: 5px;
  color: var(--color-white);
  border-radius: var(--size-border-radius);
}

#content {
  display: flex;
  flex-direction: column;
  background-color: var(--color-pink);
  padding: 15px;
}

.content__top {
  display: flex;
  flex-direction: row;
}

.problem-category {
  margin: 15px;
}

.table-box {
  background-color: white;
  padding: 15px;
}

.problem-category__table {
  min-height: 300px;
  min-width: 350px;
}

.problem-header {
  background-color: #f4f9f9;
  text-align: center;
  font-weight: var(--weight-semi-bold);
  height: 14.2%;
}

.problem__button {
  background-color: var(--color-dark-grey);
  color: var(--color-light-white);
  padding: 1px 10px;
  border-radius: var(--size-border-radius);
}

.problems {
  margin: 15px;
  min-height: 400px;
}

.problems__table {
  min-height: 305px;
  min-width: 500px;
}

.problems__td {
  height: 55px;
  width: 33.3%;
}

.remark {
  margin: 15px;
}

.remark__content {
  background-color: var(--color-white);
  min-height: 336.36px;
  min-width: 390px;
  padding: 20px;
}

.schedule {
  padding: 15px;
}

.schedule__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.problem-selection-btn {
  background-color: var(--color-light-grey);
  width: 100px;
  height: 30px;
  color: var(--color-light-white);
  padding: 1px 10px;
  border-radius: var(--size-border-radius);
}

#calendar {
  border-color: var(--color-light-grey);
}

.calendar__index {
  background-color: #f4f9f9;
  text-align: center;
  width: 12.5%;
}

.calendar__number {
  background-color: #f4f9f9;
  width: 12.5%;
}

.schedule__right {
  display: flex;
  align-items: center;
}

.tbCalendarYM {
  display: inline;
}

.schedule-update {
  background-color: var(--color-light-grey);
  margin: 5px;
  padding: 5px 15px;
  font-size: var(--font-small);
  color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.bo_w_select {
  width: 100%; /* 가로 사이즈 */
  padding: 10px; /* 내부여백 */
  padding-left: 12px;
  border: 1px solid #ddd;
  background: url(./arrow_down_18dp.png) no-repeat right 50%; /* 화살표 위치 */
  background-size: 30px; /* 화살표 크기 */
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 12px;
  color: #000;
  outline: none;
}
.bo_w_select:hover {
  border: 1px solid #aaa;
} /* 마우스오버 */

/* personal-member page */

.person-search__box {
  display: flex;
  padding-top: 20px;
}

.person-search__box__button {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: center;
  background-color: var(--color-dark-grey);
  color: var(--color-light-white);
  padding: 1px 10px;
  border-radius: var(--size-border-radius);
}

.search-content__filter {
  padding: 10px; /* 내부여백 */
  width: 150px;
  padding-left: 12px;
  border: 1px solid #ddd;
  background: url(./arrow_down_18dp.png) no-repeat right 50%; /* 화살표 위치 */
  background-size: 30px; /* 화살표 크기 */
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 12px;
  color: #000;
  outline: none;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  background-color: var(--color-white);
}

.search-content__text {
  width: 60%;
  padding: 10px; /* 내부여백 */
  width: 500px;
  padding-left: 12px;
  border: 1px solid #ddd;
  background: url(./arrow_down_18dp.png) no-repeat right 50%; /* 화살표 위치 */
  background-size: 30px; /* 화살표 크기 */
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
  font-size: 12px;
  color: #000;
  outline: none;
  background-color: var(--color-white);
  margin-right: 10px;
}

/* personal_member */
#person-search {
  min-width: 700px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

#person-list2 {
  display: flex;
  flex-direction: column;
  background-color: var(--color-pink);
  padding: 30px;
  min-width: 1300px;
  min-height: 100%;
}

.transparent-border {
  border-right: transparent;
  width: 120px;
}

.person-table__header__number {
  width: 100px;
}

.person-table__header__type {
  width: 100px;
}

.person-table__header__id {
  width: 200px;
}

.person-table__header__name {
  width: 150px;
}

.person-table__header__sex {
  width: 100px;
}

.person-table__header__address {
  width: 400px;
}

.person-table__header__zipcode {
  width: 200px;
}

.person-table__header__rrn {
  width: 300px;
}

.person-table__header__email {
  width: 300px;
}

.person-table__header__email {
  width: 300px;
}

.person-table__header__phone {
  width: 300px;
}

.person-table__header__manager {
  width: 150px;
}

.person-table__header__grade {
  width: 100px;
}

.person-table__header__status {
  width: 150px;
}

.person-table__header__description {
  width: 350px;
}

.logout-btn {
  width: 100px;
  height: 30px;
  color: var(--color-light-white);
  padding: 1px 10px;
  border-radius: var(--size-border-radius);
}

.drop-btn {
  background-color: red;
  width: 100px;
  height: 30px;
  color: var(--color-light-white);
  padding: 1px 10px;
  border-radius: var(--size-border-radius);
}

.edit-btn {
  background-color: var(--color-blue);
  width: 100px;
  height: 30px;
  color: var(--color-light-white);
  padding: 1px 10px;
  border-radius: var(--size-border-radius);
}

.create-btn {
  background-color: green;
  width: 100px;
  height: 30px;
  color: var(--color-light-white);
  padding: 1px 10px;
  border-radius: var(--size-border-radius);
}

/* contents page */
#problem-list {
  display: flex;
  flex-direction: column;
  background-color: var(--color-pink);
  padding: 30px;
  min-width: 1300px;
  min-height: 100%;
}

.brief_description {
  height: 100%;
  width: 100%;
  margin: 0;
  border-color: transparent;
  background-color: transparent;
  font-size: medium;
  text-align: center;
}

.brief_description_cell {
  padding: 0;
  height: 100%;
}

.long_description {
  height: 100%;
  width: 100%;
  margin: 0;
  border-color: transparent;
  background-color: transparent;
  font-size: large;
  text-align: center;
}

.long_description_cell {
  padding: 0;
  height: 100%;
}

.learning-problem {
  display: inline;
}

.problem-list__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 10px;
}

/* payment */

.payment-btn {
  background-color: var(--color-light-grey);
  width: 150px;
  height: 150px;
  color: var(--color-light-white);
  padding: 1px 10px;
  border-radius: 20px;
  margin: 10px;
}

.payment-p {
  color: var(--color-white);
}

#payment {
  margin: 10px;
}

.selected-date {
  font-size: 22px;
}
