<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실버앱</title>
    <meta name="description" content="Portfolio for world-renowned software engineer Saul"/>
    <meta name="author" content="Saul"/>
    <link rel="icon" type="image/png" href="imgs/favicon.png" />
    <script src="https://kit.fontawesome.com/27bd47abbf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/cookie.js" defer></script>   
    <script src="/js/navbar.js" defer></script>
    <script src="/js/center_member.js" defer></script> 
</head>
<body>
        <!-- NavBar -->
        <nav id="navbar">
            <div class="navbar__logo">
                <i class="fab fa-diaspora"></i>
                <a href="#">실버앱</a>
            </div>
            <div class="navbar__menu">
                <ul class="navbar__menu">
                    <li class="navbar__menu__item" id="member-name"></li>
                    <li class="navbar__menu__item">
                        <button class="logout-btn" onclick="logout()">로그아웃</button>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="section-container">

            <!-- Menu -->
            <section id="menu">
                <div class="menu-list">
                    <ul>

                        <li class="menu-list__item">
                            <a href="./schedule.html">센터 스케줄 관리</a>
                        </li>
                        <li class="menu-list__item">
                            <a href="./center_member.html">센터 회원 관리</a>                            
                        </li>
                        <li class="menu-list__item">
                            <a href="./payment.html">결제 관리</a>                            
                        </li>
                    </ul>
                </div>
            </section>

            <!-- Person List -->
            <section id="person-list2">

                <div class="person-search">
                    <h2>대상자 검색</h2>
                    <div class="person-search__box">
                        <div class="search-content">
                            <select name="search-filter" class="search-content__filter">
                                <option value="none">=== 선택 ===</option>
                                <option value="type">구분</option>
                                <option value="id">아이디</option>
                                <option value="name">이름</option>
                                <option value="sex">성별</option>
                                <option value="address">주소</option>
                                <option value="zipcode">우편번호</option>
                                <option value="rrn">주민등록번호</option>
                                <option value="email">이메일</option>
                                <option value="phone">핸드폰</option>
                                <option value="managerName">담당자명</option>
                                <option value="grade">등급</option>
                                <option value="status">가입상태</option>
                            </select>
                            <input type="text" class="search-content__text">
                        </div>
                        <button onclick="search()" class="person-search__box__button">검색</button>
                    </div>
                </div>
                <br><br>
                <div class="problem-list__top">
                    <div class="problem-list__top__left">
                        <h2 class="learning-problem">대상자 목록</h2>
                    </div>
                    <div class="problem-list__top__right">
                        <button class="create-btn" onclick="add()">멤버 추가</button>
                    </div>
                </div>
                <table border="1" class="person-table">
                    <th class="person-table__header person-table__header__number">번호</th>
                    <th class="person-table__header person-table__header__type">구분</th>
                    <th class="person-table__header person-table__header__id">아이디</th>
                    <th class="person-table__header person-table__header__name">이름</th>
                    <th class="person-table__header person-table__header__sex">성별</th>
                    <th class="person-table__header person-table__header__address">주소</th>
                    <th class="person-table__header person-table__header__zipcode">우편번호</th>
                    <th class="person-table__header person-table__header__rrn">주민등록번호</th>
                    <th class="person-table__header person-table__header__email">이메일</th>
                    <th class="person-table__header person-table__header__phone">핸드폰</th>
                    <th class="person-table__header person-table__header__manager">담당자명</th>
                    <th class="person-table__header person-table__header__grade">등급</th>
                    <th class="person-table__header person-table__header__status">가입상태</th>
                </table>
            </section>
        </div>
</body>
</html>