<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실버앱</title>
    <meta name="description" content="Portfolio for world-renowned software engineer Saul"/>
    <meta name="author" content="Saul"/>
    <link rel="icon" type="image/png" href="imgs/favicon.png" />
    <script src="https://kit.fontawesome.com/27bd47abbf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/cookie.js" defer></script>
    <script src="/js/navbar.js" defer></script>   
    <script src="/js/schedule.js" defer></script>
</head>
<body>

        <!-- NavBar -->
        <nav id="navbar">
            <div class="navbar__logo">
                <i class="fab fa-diaspora"></i>
                <a href="#">실버앱</a>
            </div>
            <div class="navbar__menu">
                <ul class="navbar__menu">
                    <li class="navbar__menu__item" id="member-name"></li>
                    <li class="navbar__menu__item">
                        <button class="logout-btn" onclick="logout()">로그아웃</button>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="section-container">

            <!-- Menu -->
            <section id="menu">
                <div class="menu-list">
                    <ul>

                        <li class="menu-list__item">
                            <a href="./schedule.html">센터 스케줄 관리</a>
                        </li>
                        <li class="menu-list__item">
                            <a href="./center_member.html">센터 회원 관리</a>                            
                        </li>
                        <li class="menu-list__item">
                            <a href="./payment.html">결제 관리</a>                            
                        </li>
                    </ul>
                </div>
            </section>

            <!-- Person List -->
            <section id="person-list">
                <h2>대상자 목록</h2>
                <div class="month-selection">
                    <button onclick="prevCalendar()" class="month-selection__previous">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <span class="selected-date tbCalendarYM" > [2021년 02월] </span>
                    <button onclick="nextCalendar()" class="month-selection__next">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                <!-- <div class="person-control">
                    <button class="person-control__add">대상자 추가</button>
                    <button class="person-control__remove">대상자 삭제</button>
                </div> -->
                <table border="1" class="person-table">
                    <th class="person-table__header"></th>
                    <th class="person-table__header">
                        <input type='checkbox' id='total' onclick='selectAll(this)' />
                    </th>
                    <th class="person-table__header">대상자명</th>
                    <th class="person-table__header">담당자명</th>
                    <th class="person-table__header">등급</th>
                </table>
            </section>

            <section id="content">
                <div class="content__top">
                    <div class="problem-category">
                        <h2>문제 영역</h2>
                        <div class="table-box">
                            <table border="1" class="problem-category__table">
                                <tr>
                                    <td class="problem-header">제공 영역</td>
                                    <td class="problem-header">영역 분류</td>
                                    <td class="problem-header">문제선택</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">인지활동</td>
                                    <td>시지각 영역</td>
                                    <td><button class="problem-selection-btn category6__btn">문제선택</button></td>
                                </tr>
                                <tr>
                                    <td>주의 집중력 영역</td>
                                    <td><button class="problem-selection-btn category7__btn">문제선택</button></td>
                                </tr>
                                <tr>
                                    <td>언어 영역</td>
                                    <td><button class="problem-selection-btn category8__btn">문제선택</button></td>
                                </tr>
                                <tr>
                                    <td>회상 영역</td>
                                    <td><button class="problem-selection-btn category9__btn">문제선택</button></td>
                                </tr>
                                <tr>
                                    <td rowspan="4">특별활동</td>
                                    <td>신체활동</td>
                                    <td><button class="problem-selection-btn category10__btn">문제선택</button></td>
                                </tr>
                                <tr>
                                    <td>만들기</td>
                                    <td><button class="problem-selection-btn category11__btn">문제선택</button></td>
                                </tr>
                                <tr>
                                    <td>요리</td>
                                    <td><button class="problem-selection-btn category12__btn">문제선택</button></td>
                                </tr>
                                <tr>
                                    <td>특화</td>
                                    <td><button class="problem-selection-btn category13__btn">문제선택</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="problems">
                        <h2>영역별 문제정보</h2>
                        <div class="table-box">
                            <table border="1" class="problems__table">
                                <tr>
                                    <td colspan = "3" class="problem-header" id="dynamic-header">시지각(하) 문제 선택</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="remark">
                        <h2>대상자 특이사항</h2>
                        <div class="remark__content">
                            <p>
                                시력이 좋지 않으셔서 따라 그리시는데 제한이 있음.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="content__bottom">
                    <div class="schedule">
                        <div class="schedule__header">
                            <div class="schedule__left">
                                <h2 class="tbCalendarYM" >2021년 2월</h2>
                            </div>
                            <div class="schedule__right">
                                <button class="schedule-update">일정 업데이트</button>
                            </div>
                        </div>
                        <div class="table-box">
                                
                            <table id="calendar" border="1" align="center">
                                <tr><!-- label은 마우스로 클릭을 편하게 해줌 -->

                                </tr>
                                <tr>
                                    <td align="center"></td>
                                    <td align="center"><font color ="#F79DC2">일</td>
                                    <td align="center">월</td>
                                    <td align="center">화</td>
                                    <td align="center">수</td>
                                    <td align="center">목</td>
                                    <td align="center">금</td>
                                    <td align="center"><font color ="skyblue">토</td>
                                </tr> 
                            </table>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    
</body>
</html>